@font-face {
    font-family: "BTBeauSans";
    src: url("../fonts/BT-BeauSans.ttf");
    font-weight: normal;
}

@font-face {
    font-family: "BTBeauSansBold";
    src: url("../fonts/BT-BeauSans-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: "BTBeauSansExtraBold";
    src: url("../fonts/BT-BeauSans-ExtraBold.ttf");
    font-weight: 800;
}

:root {
    --primary-color: rgba(179, 27, 26, 1);
    --neutral-border: rgba(233, 233, 233, 1);
    --neutral-default: rgba(20, 20, 20, 1);
    --neutral-muted: rgba(159, 159, 159, 1);
    --neutral-sub: rgba(66, 62, 62, 1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    height: 100vh;
    font-family: "BTBeauSans", sans-serif;
    background: rgba(249, 249, 249, 1);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    padding: 1rem 2rem;
    /* height: 4.8rem; */
    border-bottom: 1px solid var(--neutral-border);
    background: white;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    max-width: 81.2rem;
    gap: 6rem;
    width: 100%;
}

.nav__list {
    display: none;
    list-style: none;
    justify-content: space-between;
    gap: 4rem;
    cursor: pointer;
}

.nav__link,
.footer__company-name,
.footer__nav-title {
    font-size: 1.4rem;
    line-height: 2.1rem;
}

.nav__link {
    cursor: pointer;
    text-decoration: none;
    color: var(--neutral-default);
    font-weight: 500;
    transition: color 0.3s;
}

.nav__item:hover .nav__link {
    color: var(--primary-color);
}

.nav__item:hover .nav__link svg path {
    stroke: var(--primary-color);
}

.nav .nav__actions {
    max-width: 13.6rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1.2rem;
}

.nav__language {
    display: none;
    border: 1px solid var(--neutral-border);
    font-size: 1.2rem;
    line-height: 1.8rem;
    font-weight: 500;
    color: var(--neutral-default);
}

.nav__language-en {
    color: var(--primary-color);
}

.nav__toggle,
.nav__language {
    width: 4rem;
    height: 4rem;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    background: transparent;
}

.nav__toggle {
    border: none;
    background: rgba(179, 27, 26, 0.06);
}

.nav__toggle:hover {
    background: var(--primary-color);
}

.nav__toggle:hover svg path {
    stroke: #fff;
}

.main {
    margin-top: 4.8rem;
    height: 100%;
    padding: 6.2rem 0 1.6rem;
    background: #fff;
}

.hero-section {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: flex-end; */
    gap: 2.8rem;
}

.hero-section__content {
    margin: 0 1.6rem;
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
}

.hero-section__title {
    font-size: 4.8rem;
    font-weight: 500;
    line-height: 6rem;
    color: var(--neutral-default);
    text-transform: capitalize;
}

.hero-section__title span {
    display: block;
    color: var(--primary-color);
}

.hero-section__cta {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.hero-section__description {
    color: var(--neutral-sub);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2.1rem;
}

.hero-section__button {
    padding: 1.6rem 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    max-width: 16.5rem;
    width: 100%;
    height: 2rem;
    border: none;
    background-color: transparent;
    border-bottom: 0.1rem solid var(--primary-color);
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 2.1rem;
    cursor: pointer;
}

.hero-section__button:hover {
    color: var(--primary-color);
}

.hero-section__button svg {
    width: 2rem;
    height: 2rem;
    flex-shrink: 0;
}

.hero-section__button:hover svg path {
    stroke: var(--primary-color);
}

.hero-section__marquee {
    display: flex;
    align-items: center;
    align-self: stretch;
    justify-content: flex-end;
    width: 100%;
}

.hero-section__marquee-item {
    display: flex;
    gap: 2rem;
}

.hero-section__marquee-item h3 {
    font-family: "BTBeauSansExtraBold", sans-serif;
    display: inline-block;
    font-size: 12rem;
    font-weight: 900;
    line-height: 10rem;
    color: transparent;
    -webkit-text-stroke-width: 0.15rem;
    -webkit-text-stroke-color: rgba(20, 20, 20, 0.5);
    text-stroke-color: rgba(20, 20, 20, 0.5);
    text-transform: uppercase;
    margin-right: 3rem;
    letter-spacing: 0.5rem;
}

.hero-section__marquee-item h3:hover {
    color: var(--primary-color);
    -webkit-text-stroke-color: var(--primary-color);
    text-stroke-color: var(--primary-color);
}

.footer {
    /* position: fixed; */
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    border-top: 1px solid var(--neutral-border);
    display: flex;
    flex-direction: column;
    padding: 3.2rem 1.6rem 2.4rem;
    gap: 3.6rem;
}

.footer__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3.6rem;
}

.footer__company-logo {
    display: inline-block;
    max-width: 14.2rem;
    width: 100%;
    margin-bottom: 1.2rem;
}

.footer__company-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.footer__company-info,
.footer__nav-list {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.footer__company-name {
    font-weight: 500;
    color: var(--neutral-default);
}

.footer__nav {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2.8rem;
    width: 100%;
}

.footer__nav-contact,
.footer__nav-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.4rem;
}

.footer__nav-list {
    list-style: none;
}

.footer__nav-title {
    font-weight: 400;
    color: var(--neutral-muted);
    text-transform: uppercase;
    margin-bottom: 1.6rem;
}

.footer__nav-link,
.footer__company-address,
.footer__company-tax {
    font-weight: 400;
    line-height: 1.8rem;
    font-size: 1.2rem;
    text-decoration: none;
    color: var(--neutral-default);
    font-style: normal;
    padding: 0.2rem;
    position: relative;
}

.footer__nav-link:hover {
    color: var(--primary-color);
}

.footer__nav-link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background: var(--primary-color);
    transition: width 0.3s ease;
}

.footer__nav-link:hover::after {
    width: 100%;
}

.footer__bottom {
    display: flex;
    justify-content: space-between;
    padding-top: 1.6rem;
    border-top: 0.1rem solid var(--neutral-border);
}

.footer__copyright {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
}

.footer__social-list {
    list-style: none;
    display: flex;
    gap: 0.4rem;
}
.footer__social-item {
    width: 2.4rem;
    height: 2.4rem;
}

@media screen and (min-width: 64em) {
    .header {
        /* height: 8rem; */
    }

    .main {
        margin-top: 8rem;
    }

    .nav__list {
        display: flex;
    }

    .nav__language {
        display: inline-block;
    }

    .hero-section__content {
        flex-direction: row;
        margin: 6rem 8rem;
        gap: 14rem;
    }

    .hero-section__title {
        max-width: 73.3rem;
        width: 100%;
        font-size: 8rem;
        line-height: 10rem;
    }

    .hero-section__cta {
        margin-top: 1.6rem;
        max-width: 40.7rem;
        width: 100%;
        gap: 4.8rem;
    }

    .hero-section__description {
        font-size: 1.6rem;
        line-height: 2.4rem;
    }

    .footer {
        padding: 12rem 8rem 8rem;
    }

    .footer__content {
        flex-direction: row;
    }
    .footer__nav {
        grid-template-columns: 1fr 3fr;
    }

    .footer__nav-contact {
        grid-template-columns: 1fr;
    }

    .footer__nav-group {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width: 90em) {
    .header {
        padding: 2rem 8rem;
    }
}
